---
import BaseLayout from '../../layouts/BaseLayout.astro';
---
<BaseLayout title="Links">
  <h1 class="reveal">Links</h1>
  <section class="grid cols-2">
    <a class="card reveal" href="https://x.com" target="_blank" rel="noreferrer">X</a>
    <a class="card reveal" href="https://github.com/ojochi" target="_blank" rel="noreferrer">GitHub</a>
    <a class="card reveal" href="https://note.com/ojochi" target="_blank" rel="noreferrer">note</a>
  </section>
</BaseLayout>
